<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <tr> <td>Before</td> <td></td>     <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>08:30</td>  <td>9:00</td> <td>Installation debugging (only attend if you had issues installing the software)</td> </tr>
      <tr> <td></td>  <td></td> <td><a href="{{page.root}}{% link _episodes/Setup.md %}">Setup</a></td> </tr>
      <tr> <td></td>  <td></td> <td><a href="{{page.root}}{% link _episodes/ProofOfConcept.md %}">Proof of concept</a></td> </tr>
      <tr> <td></td>  <td></td> <td><a href="{{page.root}}{% link _episodes/GitHub.md %}">GitHub</a></td> </tr>
      <tr> <td></td>  <td></td> <td><a href="{{page.root}}{% link _episodes/PythonProject.md %}">Python project</a></td> </tr>
      <tr> <td></td>  <td></td> <td><a href="{{page.root}}{% link _episodes/Docs.md %}">Documentation</a></td> </tr>
      <tr> <td></td>  <td></td> <td><a href="{{page.root}}{% link _episodes/Tests.md %}">Testing</a></td> </tr>
      <tr> <td></td>  <td></td> <td><a href="{{page.root}}{% link _episodes/Other.md %}">Other</a></td> </tr>
      <tr> <td>11:00</td>  <td></td> <td>END</td> </tr>
    </table>
  </div>
</div>
